<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Тренировочная маска</title>
    <link rel="stylesheet" href="../../css/style.css" type="text/css">
</head>
<body>
<div class="wrap">
  <header>
    <div class="logo">
      <a href="../../index.html"><img src="../../img/logo/logo.png" alt="" >
      <h1>For Player <small>Все для спорта</small></h1></a>
    </div>
    <div class="login"> 
      <form action="" method="post">
        <input class="inp" type="text" name="login" placeholder="LogIn">
        <input class="inp" type="password" name="pass" placeholder="Passwrd">
        <input  class="btn"type="submit" value="" />
        <p><input class="chek" type="checkbox" name="rem"><label for="rem">Remember Me</label></p>
      </form>
    </div>
    <nav>
      <ul>
        <li><a href="../../index.html">Главная</a></li>
        <li><a href="../cotalog.html">Каталог</a></li>
        <li><a href="../contact.html">Кантакты</a></li>
        <li class="avotr"><a href="../login.html">Авторизация</a></li>
        <li class="registr"><a href="../singup.html">Регистрация</a></li>
      </ul>
    </nav>
  </header>
<main class="item">
	<section  class="view_item">
      <h2>Маска выносливости</h2>
      <div class="item_foto">
        <a href="../../img/item/show/mask_work.jpg" target="_blank">
          <img  class="foto_item" src="../../img/item/show/mask_work.jpg" alt="Маска выносливости" title="Маска выносливости">
        </a>
      </div>
      <div class="info">
        <p>
          <strong>Маска выносливости</strong>  - позволяет увеличить нагрузку и улучшить<wbr>эффект от любой тренировки, будь это бег, йога,<wbr> занятия боксом или обычная разминка и растяжка. По словам специалистов, <wbr>этот аксессуар является оригинальным имитатором подъема в горы.<wbr> С его помощью создается эффект кислородного голодания и гипоксии, <wbr>наблюдаемые при реальном пребывании человека на высокогорье.
        </p>
        <h4>Тренирует :</h4>
        <table>
			<tr>
				<td>1.</td>
				<td>Выносливость всего организма</td>
			</tr>
			<tr>
				<td>2.</td>
				<td>Увеличевает объем легких</td>
			</tr>
			<tr>
				<td>3.</td>
				<td>Позволяет использовать кислород более эффективно</td>
			</tr>
			<tr>
				<td>4.</td>
				<td>Улучшает психофизические показатели</td>
			</tr>
        </table>
        <span>Цена : <strong>2500</strong>руб</span>
        <a href="#">
          <img class="buy" src="../../img/logo/buy.jpg" alt="В карзину" title="В карзину">
        </a>
      </div>
    </section>
</main>
  <div class="buffer"></div>
</div>
<footer>
   <div class="foot_menu">
    <a href="">Тех.Поддержка</a>
    <strong>  |  </strong>
    <a href="">О нас</a>
    <strong>  |  </strong>
    <label for="leng">Язык:</label> 
    <a href="" id="leng" >Русский</a>
    <strong>  |  </strong>
    <span><a href="index.html">forplayer.ru</a> <b> &copy;</b> 2017</span>
  </div> 
</footer>
</body>
</html>