<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Маникен для броска</title>
    <link rel="stylesheet" href="../../css/style.css" type="text/css">
</head>
<body>
<div class="wrap">
  <header>
    <div class="logo">
      <a href="../../index.html"><img src="../../img/logo/logo.png" alt="" >
      <h1>For Player <small>Все для спорта</small></h1></a>
    </div>
    <div class="login"> 
      <form action="" method="post">
        <input class="inp" type="text" name="login" placeholder="LogIn">
        <input class="inp" type="password" name="pass" placeholder="Passwrd">
        <input  class="btn"type="submit" value="" />
        <p><input class="chek" type="checkbox" name="rem"><label for="rem">Remember Me</label></p>
      </form>
    </div>
    <nav>
      <ul>
        <li><a href="../../index.html">Главная</a></li>
        <li><a href="../cotalog.html">Каталог</a></li>
        <li><a href="../contact.html">Кантакты</a></li>
        <li class="avotr"><a href="../login.html">Авторизация</a></li>
        <li class="registr"><a href="../singup.html">Регистрация</a></li>
      </ul>
    </nav>
  </header>
<main class="item">
  <section  class="view_item">
      <h2>Маникен для броска</h2>
      <div class="item_foto">
        <a href="../../img/item/dummy.jpg" target="_blank">
          <img  class="foto_item"  src="../../img/item/dummy.jpg" alt="Маникен для броска" title="Маникен для броска">
        </a>
      </div>
      <div class="info">
		<p>
			<strong>Маникен для броска</strong> - для тренеровок броска.
		</p>
		<h4>Примушества</h4>
		<table>
			<tr>
				<td>1.</td>
				<td>высота 215см</td>
			</tr>
			<tr>
				<td>2.</td>
				<td>складной</td>
				</tr>
			<tr>
				<td>3.</td>
				<td>ткань</td>
			</tr>
		</table>
        <span>Цена : <strong>1200</strong>руб</span>
        <a href="#">
          <img class="buy" src="../../img/logo/buy.jpg" alt="В карзину" title="В карзину">
        </a>
      </div>
    </section>
</main>
  <div class="buffer"></div>
</div>
<footer>
   <div class="foot_menu">
    <a href="">Тех.Поддержка</a>
    <strong>  |  </strong>
    <a href="">О нас</a>
    <strong>  |  </strong>
    <label for="leng">Язык:</label> 
    <a href="" id="leng" >Русский</a>
    <strong>  |  </strong>
    <span><a href="index.html">forplayer.ru</a> <b> &copy;</b> 2017</span>
  </div> 
</footer> 
         <h3></h3>
         <div class="foto">
        <a href="../img/man.jpg" target="_blank">
        <img src="../img/man.jpg" alt="Маникен для броска" title="Маникен для броска"  height="300" width="400"></a>
        </div>
        <div class="info">
        <p>
            <strong>Маникен для броска</strong> - для тренеровок броска.
        </p>
        <h4>Примушества</h4>
        
        <table>
            <tr>
                <td>1.</td>
                <td>высота 215см</td>
            </tr>
            <tr>
                <td>2.</td>
                <td>складной</td>
            </tr>
            <tr>
                <td>3.</td>
                <td>ткань</td>
            </tr>
        </table>
       </div>
       <div class="clear"></div>
       
       <a href="">
                 <div class="button">
                    Купить
                 </div>
             </a>
    </div>
   </div>
   
   <div class="footer contact">
        
         <div class="text">
             &laquo;Все права защищены&raquo; &copy; <a href="index.html">ForPlayer</a> 2016 
         </div>
          <div class="clear"></div>
      </div>
</body>
</html>