<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>((TITLE))</title>
    <style>
        article{
            border: 1px solid grey;
            padding-left: 10px;
            width: 700px;
            border-radius: 10px;
        }
        time{
            float: right;
            margin-right: 10px;
            margin-top: 5px;
        }
    </style>
    
</head>
<body>
   <header>
       ((HEAD_MENU))
   </header>
   <h2>Фотографии пользовотелей</h2>
    ((SHOW_FOTO))
</body>
</html>