<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>((TITLE))</title>
</head>
<body>
    <div class="header">
        <ul>
            <a href="?page=index"><li>((MAIN_PAGE))</li></a>
            <a href="?page=down_foto"><li>((DOWN_FILE))</li></a>
        </ul>
    </div>
    <form action="uploadfoto.php" enctype="multipart/form-data" method="post">
        
        <input name="pictur" type="file" accept="image/*"/>
        <input type="submit" value="Загрузить" />
    </form>
</body>
</html>