<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Контакты</title>
    <link rel="stylesheet" href="../css/style.css" type="text/css">
</head>
<body>
<div class="wrap">      
  <header>
    <div class="logo">
      <a href="index.html"><img src="../img/logo/logo.png" alt="" >
      <h1>For Player <small>Все для спорта</small></h1></a>
    </div>
    <div class="login"> 
      <form action="" method="post">
        <input class="inp" type="text" name="login" placeholder="LogIn">
        <input class="inp" type="password" name="pass" placeholder="Passwrd">
        <input  class="btn"type="submit" value="" />
        <p><input class="chek" type="checkbox" name="rem"><label for="rem">Remember Me</label></p>
      </form>
    </div>
    <nav>
    <ul>
      <li><a href="../index.html">Главная</a></li>
      <li><a href="cotalog.html">Каталог</a></li>
      <li><a href="contact.html">Кантакты</a></li>
      <li class="avotr"><a href="login.html">Авторизация</a></li>
      <li class="registr"><a href="singup.html">Регистрация</a></li>
    </ul>
    </nav>
  </header>
        
<main>
  <section>
    <h2>Обратная связь</h2>

    <div class="left">           
      <form action="contact.html" method="post">
        <h3>Напишите нам</h3>
        <p><label for="3">Тема:</label><input id="3" type="text" name="thema" placeholder="Тема" required="required"></p>
        <p><label for="4">Ваш текст:</label></p>
        <p><textarea id="4" name="" id="" cols="45" rows="10" placeholder="Ваш текст" required="required"></textarea></p>
        <p><input type="submit" value="Отправить" id="feedback" class="feedback"></p>
      </form> 
    </div>
    <div class="right">         
      <div class="inform">
        <h3>Наши контакты :</h3>
        <p><span>☎ : <strong>+7(916) 123 45-67</strong></span></p>
        <p><span>⛪: <strong>г.Москва ул.Красная Площадь д.1  </strong></span></p>
        <p><span> &#9993; : <strong> forplayer@forplaeyr.ru </strong></span></p>
      </div>
      <div class="map">
        <img src="https://static-maps.yandex.ru/1.x/?ll=37.620070,55.753630&size=300,200&z=13&l=map&pt=37.620070,55.753630,pm2blm~37.64,55.76363" alt="">
      </div>
    </div> 
  </section>
</main>
<div class="buffer"></div>
</div>   

<footer>
  <div class="foot_menu">
    <a href="">Тех.Поддержка</a>
    <strong>  |  </strong>
    <a href="">О нас</a>
    <strong>  |  </strong>
    <label for="leng">Язык:</label> 
    <a href="" id="leng" >Русский</a>
    <strong>  |  </strong>
    <span><a href="index.html">forplayer.ru</a> <b> &copy;</b> 2017</span>
  </div>  
</footer>
</body>
</html>
