<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Каталог</title>
    <link rel="stylesheet" href="../css/style.css" type="text/css">
</head>
<body>
<div class="wrap">
<header>
  <div class="logo">
    <a href="index.html"><img src="../img/logo/logo.png" alt="" >
    <h1>For Player <small>Все для спорта</small></h1></a>
  </div>
  <div class="login"> 
    <form action="" method="post">
      <input class="inp" type="text" name="login" placeholder="LogIn">
      <input class="inp" type="password" name="pass" placeholder="Passwrd">
      <input  class="btn"type="submit" value="" />
      <p><input class="chek" type="checkbox" name="rem"><label for="rem">Remember Me</label></p>
    </form>
  </div>
  <nav>
    <ul>
      <li><a href="../index.html">Главная</a></li>
      <li><a href="cotalog.html">Каталог</a></li>
      <li><a href="contact.html">Кантакты</a></li>
      <li class="avotr"><a href="login.html">Авторизация</a></li>
      <li class="registr"><a href="singup.html">Регистрация</a></li>
    </ul>
  </nav>
</header>

<main>     
  <section>
    <h2>Каталог Товаров</h2>      
    <figure>
      <a href="cotalog/it-1.html">
        <img src="../img/item/gl.jpg" alt="Очки для Дриблинга" title="Очки для Дриблинга">
      </a>
      <figcaption>
        <a href="cotalog/it-1.html">Очки для Дриблинга</a>
      </figcaption> 
    </figure>

    <figure>
      <a href="cotalog/it-2.html">
        <img src="../img/item/br_mask.jpg" alt="Тренировочная маска" title="Маска выносливости">
      </a>
      <figcaption>
        <a href="cotalog/it-2.html">Маска выносливости</a>
      </figcaption> 
    </figure>

    <figure>
      <a href="cotalog/it-4.html">
        <img src="../img/item/trx.jpg" alt="TRX петли" title="TRX петли">
      </a>
      <figcaption>
        <a href="cotalog/it-4.html">TRX петли</a>
      </figcaption> 
    </figure>

    <figure>
      <a href="cotalog/it-3.html">
        <img src="../img/item/roll.jpg" alt="Валик для мышц" title="Валик для мышц">
      </a>
      <figcaption>
        <a href="cotalog/it-3.html">Валик для мышц</a>
      </figcaption> 
    </figure>

    <figure>
      <a href="cotalog/it-9.html">
        <img src="../img/item/dummy.jpg" alt="Валик для мышц" title="Валик для мышц">
      </a>
      <figcaption>
        <a href="cotalog/it-9.html">Валик для мышц</a>
      </figcaption> 
    </figure>

    <figure>
      <a href="cotalog/it-8.html">
        <img src="../img/item/moltengl7.jpg" alt="Баскетбольный мяч" title="Баскетбольный мяч">
      </a>
      <figcaption>
        <a href="cotalog/it-8.html">Баскетбольный мяч</a>
      </figcaption> 
    </figure>
  </section>
</main>  
<div class="buffer"></div>
</div>

<footer>
  <div class="foot_menu">
    <a href="">Тех.Поддержка</a>
    <strong>  |  </strong>
    <a href="">О нас</a>
    <strong>  |  </strong>
    <label for="leng">Язык:</label> 
    <a href="" id="leng" >Русский</a>
    <strong>  |  </strong>
    <span><a href="index.html">forplayer.ru</a> <b> &copy;</b> 2017</span>
  </div>
</footer>
</body>
</html>

    