<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Регистрация</title>
	<link rel="stylesheet" href="../css/style.css" type="text/css">
</head>
<body>
<div class="wrap">      
  <header>
	<div class="logo">
		<a href="index.html"><img src="../img/logo/logo.png" alt="" >
		<h1>For Player <small>Все для спорта</small></h1></a>
	</div>
	<div class="login"> 
		<form action="" method="post">
			<input class="inp" type="text" name="login" placeholder="LogIn">
			<input class="inp" type="password" name="pass" placeholder="Passwrd">
			<input  class="btn"type="submit" value="" />
			<p><input class="chek" type="checkbox" name="rem"><label for="rem">Remember Me</label></p>
		</form>
	</div>
	<nav>
		<ul>
			<li><a href="../index.html">Главная</a></li>
			<li><a href="cotalog.html">Каталог</a></li>
			<li><a href="contact.html">Кантакты</a></li>
			<li class="avotr"><a href="login.html">Авторизация</a></li>
			<li class="registr"><a href="singup.html">Регистрация</a></li>
		</ul>
	</nav>
  </header>
  <main>
	<section class="singup">
		<h2>Регистрация</h2>
		<div class="auth">
			<p>
				Если у вас уже есть учетная запись 
				то пройдите<br>
				<a class="auth_login" href="login.html">Авторизация</a>
				<br>
				<a href="">Забыли пароль?</a>
			</p>
		</div>
		<div class="from">
			<dl>
				<form action="auth.php?act=singup" method="post">
					<dt><label for="1">Логин:</label></dt>
					<dd><input type="text" name="login" id="1" value="" required></dd>
					<dt><label for="2">Имя:</label></dt>
					<dd><input type="text" name="name" id="2" value="" required></dd>
					<dt><label for="5">Email:</label></dt>
					<dd><input type="email" name="email" id="5" value="" required></dd>
					<dt><label for="3">Пароль:</label></dt>
					<dd><input type="password" name="pass" id="3"  value="" required></dd>
					<dt><label for="4">Повторить:</label></dt>
					<dd><input type="password" name="ret_pass" value="" id="4" required></dd>
					<input type="submit" value="Регистрация" name="reg" class="reg">
				</form>
			</dl>
		</div>
	</section>
   </main>
 <div class="buffer"></div>	
 </div>
 <footer>
	<div class="foot_menu">
		<a href="">Тех.Поддержка</a>
		<strong>  |  </strong>
		<a href="">О нас</a>
		<strong>  |  </strong>
		<label for="leng">Язык:</label> 
		<a href="" id="leng" >Русский</a>
		<strong>  |  </strong>
		<span><a href="index.html">forplayer.ru</a> <b> &copy;</b> 2017</span>
	</div>	
 </footer>
</body>
</html>